body {
    font-family: Arial, sans-serif;
    text-align: left;
}
ali{
    padding-block :10px;
}
#app {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#preview img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
